<h1>MapZest</h1>
<h2>Login</h2>
<form id="login_form" action="/login" method="post">
  <label>Email: <input type="email" name="email"></label>
  <label>Password: <input type="password" name="password"></label>
  <input type="submit" value="Login">
</form>

<h2>Sign Up</h2>
<form id="signup_form" action="/signup" method="post">
  <label>Email: <input type="email" name="email"></label>
  <label>Password: <input type="password" name="password"></label>
  <input type="submit" value="Sign Up">
</form>
