<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
<script src="" async defer></script>
    <div class="container">
        <img src="../static/logo.jpg" alt="MapZest" class="logo">
        <form action="" method="POST">
            <div class="form-group">
                <h3>User Name</h3>
                <input type="text" name="username" placeholder="User Name" required/>
            </div>
            <div class="form-group">
                <h3>Password</h3>
                <input type="password" name="password" placeholder="Password" required/>
            </div>
            <div>
                <input type="submit" value="Register">
            </div>
        </form>
    </div>
    <div>
        <p></p>
        <button type="button" onclick="location.href='/'">Go Back</button>
    </div>
</body>
</html>