<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Manage Username</title>
</head>
<body>
<script src="" async defer></script>
    <div class="container">
        <h1>Change Username</h1>
        <form name="changeusername" action="" method="POST" id="changeusername">
            <div class="form-group">
                <h3></h3>
                <label>
                    <input type="text" name="currentusername" placeholder="Current User Name" />
                </label>
            </div>
            <div>
                <p></p>
                <label>
                    <input type="text" name="currentpassword" placeholder="Current Password" />
                </label>
            </div>
            <div>
                <p></p>
                <label>
                    <input type="text" name="newusername" placeholder="New User Name" />
                </label>
            </div>
            <div>
                <p></p>
                <input type="submit" value="Change Username">
            </div>
        </form>
        <p></p>
        <hr>
    </div>
    <div>
        <p></p>
        <button type="button" onclick="window.history.back()">Go Back</button>
    </div>
</body>
</html>