<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Password</title>
</head>
<body>
<script src="" async defer></script>
    <div class="container">
        <h1>Change Password</h1>
        <form name="changepassword" action="" method="POST" id="changepassword">
            <div class="form-group">
                <label>
                    <input type="text" name="currentusername" placeholder="Current User Name" />
                </label>
            </div>
            <div>
                <p></p>
                <label>
                    <input type="text" name="currentpassword" placeholder="Current Password" />
                </label>
            </div>
            <div>
                <p></p>
                <label>
                    <input type="text" name="newpassword" placeholder="New Password" />
                </label>
            </div>
            <div>
                <p></p>
                <label>
                    <input type="text" name="confirmpassword" placeholder="Confirm Password" />
                </label>
            </div>
            <div>
                <p></p>
                <input type="submit" value="Change Password">
            </div>
        </form>
    </div>
    <div>
        <p></p>
        <hr>
        <button type="button" onclick="window.history.back()">Go Back</button>
    </div>
</body>
</html>